body{
    background-color: aquamarine;
    margin-top: 40px;
    margin-left: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',;
    font-size: larger;
    line-height: 25px;
}